.style-switcher {
  position: fixed;
  right: 0;
  top: 30px;
  margin-left: 100px;
  padding: 0px;
  width: 50px;
  border: 2px solid var(--bg-black-500);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}

.style-switcher.open {
  transform: translateX(-0px);
  margin-right: 10px;
}

.style-switcher .s-icon {
  position: absolute;
  height: 0px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: transparent;
  color: var(--text-black-900);
  right: 100%;
  margin-right: 0px;
  cursor: pointer;
  transition: all 0.9s ease;
  border-radius: 50%;
}

.style-switcher .s-icon i {
  margin-right: 50px;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher .day-night {
  margin-right: 40px;
}

.style-switcher h4 {
  margin: 0 0 10px;
  color: #ffffff;;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
  text-transform: capitalize;
}

.style-switcher .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.style-switcher .colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.style-switcher .color-1 {
  background: #ff0026;
  margin-top: 6px;
  margin-bottom: 10px;
}

.style-switcher .color-2 {
  background: #fa5b0f;
  margin-bottom: 10px;

}

.style-switcher .color-3 {
  background: #37b182;
  margin-bottom: 10px;

}

.style-switcher .color-4 {
  background: #1854b4;
  margin-bottom: 10px;

}

.style-switcher .color-5 {
  background: #f021b2;
  margin-bottom: 10px;
}
